/.idea/MGR2.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/GIS/__pycache__/configuration.cpython-36.pyc
/GIS/__pycache__/model.cpython-36.pyc
/GIS/__pycache__/graphics.cpython-36.pyc
/GIS/__pycache__/view.cpython-36.pyc
/SPDB/.idea/*
/POBR/JarzebskiMarcinPOBR.zip
/POBR/images/1.jpg
/POBR/images/1_solved.jpg
/POBR/images/2.jpg
/POBR/images/2_solved.jpg
/POBR/images/3.jpg
/POBR/images/3_solved.jpg
/POBR/images/4.jpg
/POBR/images/4_solved.jpg
/POBR/images/5.jpg
/POBR/images/5_solved.jpg
/POBR/images/false1.jpg
/POBR/images/false1_solved.jpg
/POBR/images/false2.jpg
/POBR/images/false2_solved.jpg
/POBR/images/quadruple.jpg
/POBR/images/quadruple_solved.jpg
/POBR/images/reference.jpg
/POBR/od_Kuby.py
/POBR/POBR_Jarzebski_Marcin.pdf
/POBR/POBR_Jarzebski_Marcin.zip
